/*** Constants ***/

$black: #171717;
$gold: #C19F54;
$white: #FFFFFF;
$permMarkerFont: 'Permanent Marker';
$kalamFont: 'Kalam';

/*** Outline CSS ***/

html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: $black; 
}

p {
	color: $black;
	font-size: 20px;
	font-family: $kalamFont;
	margin: 8px 0px !important;
}

h2 {
	color: $gold;
	font-family: $permMarkerFont;
	font-size: 40px;
	display: flex;
	justify-content: center;
	letter-spacing: 2px;
	margin: 30px auto;
	text-align: center;
}

/*** Container Paddings ***/

.container-fluid {
	padding: 20px 100px;	
}

/*** Loader ***/

.loader-wrapper {
    padding: 20vh 50px;
}

.loader-text {
	color: $gold;
	text-align: center;
	font-size: 30px;
	font-family: $kalamFont;
}

.loader {
    border: 8px solid $gold; 
    border-top: 8px solid $black; 
    border-radius: 40px;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
    margin: 0px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/***  Pagination ***/

.page-navigation {
	display: none;
}

.pagination {
	justify-content: center;
	margin: 10vh 0px;
}

.page-item.disabled .page-link {
	opacity: 0.5;
	color: $white;
	background-color: $black;
	border-color: $gold;
}

.page-item.active .page-link {
	color: $black;
	background-color: $gold;
	border-color: $gold;
}

.page-link {
	padding: 0.75rem 1rem;
	color: $white;
	background-color: $black;
	border-color: $gold;
}

.page-link:hover {
	color: $black;
	background-color: $gold;
	border-color: $gold;
}

/***  CSS grids ***/


.grid-wrapper {
	display: none;
	height: 100%;
	grid-template-rows: repeat(13, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.grid-item {
	width: 300px;
	height: 400px;
	background-color: $black;
	border: 3px solid $gold;

	.grid-stats {
		min-height: 50px;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/***  CSS for each card and tooltip ***/

.card-text {
	color: $white;
	font-size: 16px;
	display: flex;
	text-align: center;
	justify-content: center;

	&.name {
		min-height: 120px;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 0px 10px;
		padding-top: 10px;
	}

	&.summary {
		min-height: 150px;
		padding: 0px 10px;
	}

	&.owner {
		font-size: 18px;
		min-height: 40px;
		font-family: $kalamFont;
		margin: 8px 0px !important;
	}

	&.stats {
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 10px;
		color: $gold;

		i {
			color: $white;
		}
	}

	.project-owner {
		cursor: pointer;
		font-size: 18px;
		padding: 0px 10px;
		color: $gold;
		display: inline-block;
		position: relative;
	}

	.project-owner .tooltip {
		cursor: default;
		visibility: hidden;
		font-family: $kalamFont;
	    width: 300px;
	    background-color: $black;
	    color: $white;
	    text-align: center;
	    padding: 15px 0;
		z-index: 2;
		opacity: 1;
		padding: 6px 12px;
		border: 2px solid $gold;

		position: absolute;
		left: -150px;
		top: 25px;
	}

	.project-owner:hover .tooltip {
		visibility: visible;
	}
}


/*** Tooltip details ***/

.tooltip-text {
	padding-top: 30px;
	color: $gold;
	text-align: center;
	font-size: 20px;
	font-family: $kalamFont;
}

.tooltip-loader {
    border: 4px solid $gold; 
    border-top: 4px solid $black; 
    border-radius: 20px;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
    margin: 10px auto;
}

.to-empty {
	text-align: justify;

	.owner-stats {
		padding: 8px 0px;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.owner-text {
	font-size: 15px;
	padding: 0px 20px;

	b {
		color: $gold;
	}
}

.fa-map-marker {
	color: $gold;
}


/***  Legend CSS ***/


.legend {
	display: none;
	color: $white;
	font-family: $permMarkerFont;
	justify-content: center;
	margin: 30px 0px;

	.legend-text {	
		font-size: 20px;
	}

	span {
		display: inline-block;
		color: $gold;
		margin-right: 10px;
		margin-left: 8px;
		margin-top: 5px;

		i {
			color: $white;
		}
	}
}

/***  Back Top ***/


.to-top {
	cursor: pointer;
	color: $gold;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	a {
		color: gold;
		padding: 10px 5px;
	}

	p {
		font-size: 16px;
		color: $gold;
	}
}

/***  Responsivity ***/

@media screen and (max-width: 1200px) {
	
	.container-fluid {
		padding: 20px 20px;
	}

	.grid-wrapper {
		grid-template-rows: repeat(17, 1fr);
		grid-template-columns: repeat(3, 1fr);
		margin: 0px 10px;
	}
}

@media screen and (max-width: 992px) {
	
	.container-fluid {
		padding: 20px 20px;
	}

	.grid-wrapper {
		grid-template-rows: repeat(17, 1fr);
		grid-template-columns: repeat(3, 1fr);
		margin: 0px 30px;
	}
}

@media screen and (max-width: 768px) {
	
	.container-fluid {
		padding: 20px 40px;
	}

	.grid-wrapper {
		grid-template-rows: repeat(25, 1fr);
		grid-template-columns: repeat(2, 1fr);
		margin: 0px 30px;
	}
}

@media screen and (max-width: 576px) {

	.container-fluid {
		padding: 20px 20px;
	}

	.legend {
		justify-content: center;
		flex-direction: column;
		items-align: center;
		text-align: center;
		margin: 20px 0px;
	}

	.grid-wrapper {
		grid-template-rows: repeat(50, 1fr);
		grid-template-columns: repeat(1, 1fr);
		margin: 0px 20px;
	}

}
